{
    "swagger": "2.0",
    "info": {
        "title": "LUIS Endpoint API v2.0",
        "version": "v2.0",
        "description": "This API is currently available in:\n\n* West US - westus.api.cognitive.microsoft.com\n* West US 2 - westus2.api.cognitive.microsoft.com\n* East US - eastus.api.cognitive.microsoft.com\n* East US 2 - eastus2.api.cognitive.microsoft.com\n* West Central US - westcentralus.api.cognitive.microsoft.com\n* South Central US - southcentralus.api.cognitive.microsoft.com\n* West Europe - westeurope.api.cognitive.microsoft.com\n* North Europe - northeurope.api.cognitive.microsoft.com\n* Southeast Asia - southeastasia.api.cognitive.microsoft.com\n* East Asia - eastasia.api.cognitive.microsoft.com\n* Australia East - australiaeast.api.cognitive.microsoft.com\n* Brazil South - brazilsouth.api.cognitive.microsoft.com\n* Canada Central - canadacentral.api.cognitive.microsoft.com\n* Central India - centralindia.api.cognitive.microsoft.com\n* UK South - uksouth.api.cognitive.microsoft.com\n* Japan East - japaneast.api.cognitive.microsoft.com\n* Central US - centralus.api.cognitive.microsoft.com\n* France Central - francecentral.api.cognitive.microsoft.com\n* Korea Central - koreacentral.api.cognitive.microsoft.com\n* Japan West - japanwest.api.cognitive.microsoft.com\n* North Central US - northcentralus.api.cognitive.microsoft.com"
    },
    "host": "cognitive-wu.cognitiveservices.azure.com",
    "basePath": "/luis/v2.0",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [{
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "x-servers": [{
            "url": "https://cognitive-wu.cognitiveservices.azure.com"
        },
        {
            "url": "https://westus.api.cognitive.microsoft.com"
        }
    ],
    "paths": {
        "/apps/{appId}": {
            "get": {
                "description": "Gets the published endpoint predictions for the given query. The current maximum query size is 500 characters.\n\nLearn more about [data extraction](https://aka.ms/luis-data-extraction) in LUIS response.",
                "operationId": "5819c77140a63516d81aee78",
                "summary": "Predict - Get predictions from endpoint",
                "parameters": [{
                        "name": "appId",
                        "in": "path",
                        "description": "Format - guid. The application ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query to predict",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "timezoneOffset",
                        "in": "query",
                        "description": "The timezone offset for the location of the request in minutes",
                        "type": "number"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "If true will return all intents instead of just the topscoring intent",
                        "type": "boolean"
                    },
                    {
                        "name": "spellCheck",
                        "in": "query",
                        "description": "Enable spell checking",
                        "type": "boolean"
                    },
                    {
                        "name": "staging",
                        "in": "query",
                        "description": "Use staging endpoint",
                        "type": "boolean"
                    },
                    {
                        "name": "bing-spell-check-subscription-key",
                        "in": "query",
                        "description": "The subscription key to use when enabling bing spell check",
                        "type": "string"
                    },
                    {
                        "name": "log",
                        "in": "query",
                        "description": "Log query (default is true)",
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A JSON object containing the predictions",
                        "examples": {
                            "application/json": {
                                "query": "forward to frank 30 dollars through HSBC",
                                "topScoringIntent": {
                                    "intent": "give",
                                    "score": 0.3964121
                                },
                                "entities": [{
                                        "entity": "30",
                                        "type": "builtin.number",
                                        "startIndex": 17,
                                        "endIndex": 18,
                                        "resolution": {
                                            "value": "30"
                                        }
                                    },
                                    {
                                        "entity": "frank",
                                        "type": "frank",
                                        "startIndex": 11,
                                        "endIndex": 15,
                                        "score": 0.935219169
                                    },
                                    {
                                        "entity": "30 dollars",
                                        "type": "builtin.currency",
                                        "startIndex": 17,
                                        "endIndex": 26,
                                        "resolution": {
                                            "unit": "Dollar",
                                            "value": "30"
                                        }
                                    },
                                    {
                                        "entity": "hsbc",
                                        "type": "Bank",
                                        "startIndex": 36,
                                        "endIndex": 39,
                                        "resolution": {
                                            "values": [
                                                "BankeName"
                                            ]
                                        }
                                    }
                                ],
                                "sentimentAnalysis": {
                                    "label": "neutral",
                                    "score": 0.5
                                }
                            }
                        }
                    },
                    "414": {
                        "description": "The query is too large. Reduce your query to the maximum characters."
                    },
                    "429": {
                        "description": "Too many requests. If you created a LUIS key to increase your quota, make sure to change the subscription key used in the endpoint request. "
                    },
                    "400": {
                        "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nOther reasons include:\n\n* Model not published. Please publish your model before hitting the Endpoint.\n"
                    },
                    "401": {
                        "description": "You do not have access. \n\nReasons can include:\n\n* invalid, malformed, or empty subscription key\n* subscription key doesn't match region"
                    },
                    "403": {
                        "description": "Total monthly key quota limit exceeded. If you created a LUIS key to increase your quota, make sure to change the subscription key used in the endpoint request. "
                    },
                    "409": {
                        "description": "When you receive the error message\"Application loading in progress, please try again.\", retry the request."
                    },
                    "410": {
                        "description": "When you receive \"Please re-train and republish your application.\", you should retrain and republish your app, then make the request again."
                    }
                },
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "description": "Gets the published endpoint prediction for the given long query. The current maximum query size is 500 characters. The query must be wrapped with quotes.\n\nLearn more about [data extraction](https://aka.ms/luis-data-extraction) in LUIS response.",
                "operationId": "5819c77140a63516d81aee79",
                "summary": "Predict - Get predictions from endpoint (post)",
                "parameters": [{
                        "name": "appId",
                        "in": "path",
                        "description": "Format - guid. The application ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "timezoneOffset",
                        "in": "query",
                        "description": "The timezone offset for the location of the request in minutes",
                        "type": "number"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "If true will return all intents instead of just the topscoring intent",
                        "type": "boolean"
                    },
                    {
                        "name": "spellCheck",
                        "in": "query",
                        "description": "Enable spell checking",
                        "type": "boolean"
                    },
                    {
                        "name": "staging",
                        "in": "query",
                        "description": "Use staging endpoint",
                        "type": "boolean"
                    },
                    {
                        "name": "log",
                        "in": "query",
                        "description": "Log query (default is true)",
                        "type": "boolean"
                    },
                    {
                        "name": "q",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Q"
                        },
                        "description": "The query to predict"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "A JSON object containing the prediction",
                        "examples": {
                            "application/json": {
                                "query": "forward to frank 30 dollars through HSBC",
                                "topScoringIntent": {
                                    "intent": "give",
                                    "score": 0.3964121
                                },
                                "entities": [{
                                        "entity": "30",
                                        "type": "builtin.number",
                                        "startIndex": 17,
                                        "endIndex": 18,
                                        "resolution": {
                                            "value": "30"
                                        }
                                    },
                                    {
                                        "entity": "frank",
                                        "type": "frank",
                                        "startIndex": 11,
                                        "endIndex": 15,
                                        "score": 0.935219169
                                    },
                                    {
                                        "entity": "30 dollars",
                                        "type": "builtin.currency",
                                        "startIndex": 17,
                                        "endIndex": 26,
                                        "resolution": {
                                            "unit": "Dollar",
                                            "value": "30"
                                        }
                                    },
                                    {
                                        "entity": "hsbc",
                                        "type": "Bank",
                                        "startIndex": 36,
                                        "endIndex": 39,
                                        "resolution": {
                                            "values": [
                                                "BankeName"
                                            ]
                                        }
                                    }
                                ],
                                "sentimentAnalysis": {
                                    "label": "neutral",
                                    "score": 0.5
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests. If you created a LUIS key to increase your quota, make sure to change the subscription key used in the endpoint request. "
                    },
                    "414": {
                        "description": "The query is too large. Reduce your query to the maximum characters. "
                    },
                    "400": {
                        "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n\nOther reasons include:\n\n* Model not published. Please publish your model before hitting the Endpoint.\n\n"
                    },
                    "401": {
                        "description": "You do not have access. \n\nReasons can include:\n\n* invalid, malformed, or empty subscription key\n* subscription key doesn't match region"
                    },
                    "403": {
                        "description": "Total monthly key quota limit exceeded. If you created a LUIS key to increase your quota, make sure to change the subscription key used in the endpoint request. "
                    },
                    "409": {
                        "description": "When you receive the error message\"Application loading in progress, please try again.\", retry the request."
                    },
                    "410": {
                        "description": "When you receive \"Please re-train and republish your application.\", you should retrain and republish your app, then make the request again."
                    }
                },
                "produces": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "Q": {
            "type": "string",
            "example": "\"forward to frank 30 dollars through HSBC\""
        }
    },
    "tags": []
}